---
import TwSizeIndicator from "@/components/TwSizeIndicator.astro";
import config from "@/config/config.json";
import theme from "@/config/theme.json";
import { plainify } from "@/lib/utils/textConverter";
import Footer from "@/partials/Footer.astro";
import Header from "@/partials/Header.astro";
import "@/styles/main.scss";
import { AstroFont } from "astro-font";
import { ViewTransitions } from "astro:transitions";

// font families
const pf = theme.fonts.font_family.primary;
const sf = theme.fonts.font_family.secondary;

let fontPrimary, fontSecondary;
if (theme.fonts.font_family.primary) {
  fontPrimary = theme.fonts.font_family.primary.replace(/\+/g, " ").replace(/:[ital,]*[ital@]*[wght@]*[0-9,;]+/gi, "");
}
if (theme.fonts.font_family.secondary) {
  fontSecondary = theme.fonts.font_family.secondary
    .replace(/\+/g, " ")
    .replace(/:[ital,]*[ital@]*[wght@]*[0-9,;]+/gi, "");
}

// types for frontmatters
export interface Props {
  title?: string;
  meta_title?: string;
  description?: string;
  external_image?: boolean;
  image?: string;
  noindex?: boolean;
  canonical?: string;
  date?: string;
  tags?: list;
  weight?: number;
}

// distructure frontmatters
const { title, meta_title, description, image, noindex, canonical, date, tags, weight, external_image } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <link rel="sitemap" href="/sitemap-index.xml" />

    <meta name="google-site-verification" content="-OBHGm_Nls9yR0u8lq1aqZLYDFw_dUU1qwfFT5vfVFg" />
    <meta name="p:domain_verify" content="3f05bbb83118856ab395237ec971d550" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- google font css -->
    <AstroFont
      config={[
        {
          src: [],
          preload: false,
          display: "swap",
          name: fontPrimary!,
          fallback: "sans-serif",
          cssVariable: "font-primary",
          googleFontsURL: `https://fonts.googleapis.com/css2?family=${pf}&display=swap`,
        },
        {
          src: [],
          preload: false,
          display: "swap",
          name: fontSecondary!,
          fallback: "sans-serif",
          cssVariable: "font-secondary",
          googleFontsURL: `https://fonts.googleapis.com/css2?family=${sf}&display=swap`,
        },
      ]}
    />

    <!-- responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5" />

    <!-- title -->
    <title>
      {plainify(meta_title ? meta_title : title ? title : config.site.title).trim()}
    </title>

    <!-- canonical url -->
    {canonical && <link rel="canonical" href={canonical} item-prop="url" />}

    <!-- meta-description -->
    <meta name="description" content={plainify(description ? description : config.metadata.meta_description)} />

    <meta name="keywords" content={tags ? tags.join(", ") : config.metadata.meta_tags.join(", ")} />

    <!-- meta-published-date -->
    {date && <meta name="og:publish_date" content={new Date(date).toISOString()} />}

    <ViewTransitions />

    <!-- author from config.json -->
    <meta name="author" content={config.metadata.meta_author} />

    <!-- og-title -->
    <meta property="og:title" content={plainify(meta_title ? meta_title : title ? title : config.site.title).trim()} />

    <!-- og-description -->
    <meta property="og:description" content={plainify(description ? description : config.metadata.meta_description).trim()} />
    <meta property="og:type" content="website" />

    <meta property="og:url" content={`${config.site.base_url}/${Astro.url.pathname.replace("/", "")}`} />

    <meta property="og:site_name" content={`${config.site.base_url}/${Astro.url.pathname.replace("/", "")}`} />

    <!-- twitter-title -->
    <meta name="twitter:title" content={plainify(meta_title ? meta_title : title ? title : config.site.title).trim()} />

    <!-- twitter-description -->
    <meta name="twitter:description" content={plainify(description ? description : config.metadata.meta_description).trim()} />

    <!-- og-image -->
    <meta
      property="og:image"
      content={encodeURI(`${!external_image ? config.site.base_url : ""}${image ? image : config.metadata.meta_image}`)}
    />
    <meta property="og:image:alt" content={plainify(meta_title ? meta_title : title ? title : config.site.title)} />

    <!-- twitter-image -->
    <meta
      name="twitter:image"
      content={encodeURI(`${!external_image ? config.site.base_url : ""}${image ? image : config.metadata.meta_image}`)}
    />
    <meta name="twitter:card" content="summary_large_image" />

    <meta name="robots" content="index, follow" />
    <meta name="language" content="English" />
    <meta name="author" content="Ciara Lynch" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=1723991838" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=1723991838" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=1723991838" />
    <link rel="manifest" href="/site.webmanifest?v=1723991838" />
    <link rel="shortcut icon" href="/favicon.ico?v=1723991838" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="theme-color" content="#ffffff" />
  </head>
  <body>
    <TwSizeIndicator />
    <Header />
    <main id="main-content" class="min-h-[60vh]">
      <slot />
    </main>
    <Footer />
    <script>
      window.ga = function () {
        ga.q.push(arguments);
      };
      ga.q = [];
      ga.l = +new Date();
      ga("create", "G-H0SPRG8BKN", "auto");
      ga("send", "pageview");
      ga("set", "anonymizeIp", true);
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>
  </body>
</html>
